# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# govendor
vendor/*/
third_party/*/
bin/
dist/

# sqlite
*.db
storage/*/

# web
node_modules/*
wwwroot/js/*-bundle.js
wwwroot/js/*-bundle.min.js