@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.header {
    background: #f8f8f8;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    height: 60px;
    width: -webkit-calc(100% - 64px);
            width: calc(100% - 64px);
    padding: 0 32px;
    -webkit-align-items: stretch;
            align-items: stretch;

    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 12;
        -webkit-transition: box-shadow .3s ease;
        transition: box-shadow .3s ease;
    }

    &__inner {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;

        &_left {
            -webkit-flex: 1 1 70%;
                    flex: 1 1 70%;
            padding-right: 20px;
        }
        &_right {
            -webkit-flex: 1 1 30%;
                    flex: 1 1 30%;
            -webkit-justify-content: flex-end;
                    justify-content: flex-end;
            padding-left: 20px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .header {
        &_fixed {
            position: relative;
        }
    }
}
