{{ define "styles" }}
{{ end }}

{{ define "scripts" }}
<script src="/js/welcome-bundle.js" async></script>
{{ end }}

{{ define "content" }}
<div id="app" class="intro">
    <div class="intro_inner-bg intro_text intro_inner intro_inner__centered">
        <div class="intro_navbar"></div>
        <div class="intro_stage">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-form">
                            <form>
                                <h2 class="text-center">Login</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                                </div>
                                <!--<p><a href="#">Lost your Password?</a></p>-->
                            </form>
                            <!--<p class="text-center small">Don't have an account? <a href="#">Sign up here!</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}