{{ define "styles" }}
{{ end }}

{{ define "scripts" }}
<script src="/js/welcome-bundle.js" async></script>
{{ end }}

{{ define "content" }}
<div id="app" class="intro">
    <div class="intro_inner-bg intro_text intro_inner intro_inner__centered">
        <div class="intro_navbar"></div>
        <div class="intro_stage">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h1>Hello!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}