.sidebar {
    &_fixed {
        position: fixed;
        z-index: 11;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        top: 60px;
        bottom: 0;
        left: 0;
        width: 250px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-flex-direction: column;
                flex-direction: column;
    }
}